/*header*/
#header-top{
    height: 40px;
    background-color: black;
}

#header-top img{
    width: 100px;
    margin-right: 20px;
}


/*header bottom*/
#header-bottom{
    height: 70px;
    background-color: white;
}

.fas.fa-chevron-down{
    font-size: 14px;
    color: rgb(161, 161, 161);
    margin: 0 15px 0 10px;
    transition: 0.5s;
}

#header-bottom a:hover .fas.fa-chevron-down{
    transform: rotate(180deg);
}

#header-bottom .dropdown-menu:hover .fas.fa-chevron-down{
    transform: rotate(180deg);
}

.fas.fa-search{
    position: relative;
    top: 4px;
}

.button_login{
    background-color: #363636;
    padding: 5px 20px 10px;
}

.dropdown_li{
    width: 200px;
}

/*------------jumbotron--------------*/
.jumbotron{
    height: 550px;
    margin-top: 110px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.game_logo img{
    width: 250px;
}

.button_jumbo{
    background-color: #cd3d0f;
    padding: 4px 20px 8px;
}

/*-----sezione giochi jumbo------*/
.jumbo_game_img{
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 2px;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

.jumbo_game_img:hover{
    border: 3px solid rgb(21, 107, 219);
    padding: 2px;
    display: block;
    opacity: 1;
    transform: translatey(-10%);
}

/*--------sezione PS5-------*/
.fas.fa-trademark{
    line-height: 20px;
    font-size: 8px;
    vertical-align: top;
}

.img_accessori{
    color: grey;
    transition: 0.7s;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.img_accessori:hover{
    color: black;
    border-bottom: 3px solid #0d6efd;
}

.img_accessori img{
    opacity: 0.7;
    transition: 0.3s;
}

.img_accessori img:hover{
    opacity: 1;
}

/*----------jumbotron 2-----------*/
.jumbotron-2{
    height: 550px;
    margin-top: 110px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

/*sezione nuovi giochi*/
.new-games{
    background-color: #1f1f1f;
}

.new_games_img{
    border-radius: 20px;
}

/*----sezione PS4----*/
.button_PS4{
    background-color: #0d6efd;
    padding: 4px 20px 8px;
}

/*sezione ps plus*/
.section-ps-plus{
    background-color: #bebcbb;
}

.button_PSplus{
    background-color: #d9dadc;
    padding: 4px 20px 8px;
}

/*sezione ps now*/
.section-ps-now{
    background-color: #161c3b;
}

/*footer*/
footer{
    background-color: #00439c;
}

.language_row{
    height: 20px;
    cursor: pointer;
}

.footer_list{
    list-style: none;
}


/*-----------debug-----------*/


/*jumbotron*/
/* .jumbotron{
    background-color: #274748;
} */

/*jumbo games*/
/*
 .section-jumbo-games .row div{
    height: 150px;
}
*/
/*sezione ps5*/
/*.section-ps5 .row div{
    height: 150px;
} 

.bcg_grey{
    background-color: rgba(128, 128, 128, 0.61);
} */

/*jumbo 2*/
/* .jumbotron-2{
    height: 600px;
    background-color: #fdab42;
} */

/*nuovi  giochi*/
/* .bcg_pink{
    height: 200px;
    background-color: #eaa0f0;
} */

/*ps4*/
/* .bcg_green{
    background-color: #3cb12d;
    height: 150px;
} */

/*ps plus*/
/* .bcg_yellow{
    height: 250px;
    background-color: rgb(221, 221, 23);
} */

/*sconti*/
/* .bcg_red{
    height: 200px;
    background-color: rgb(214, 41, 28);
} */

/*social*/
/* .bcg_brown{
    height: 100px;
    background-color: brown;
} */

/*footer*/
/* .bcg_purple{
    height: 50px;
    background-color: purple;
} */