/*header*/
#header-top{
    background-color: black;
}

#header-bottom{
    background-color: white;
}

.new-games{
    background-color: #1f1f1f;
}

.section-ps-plus{
    background-color: #bebcbb;
}

.section-ps-now{
    background-color: #161c3b;
}

/*footer*/
footer{
    background-color: #00439c;
}




/*-----------debug-----------*/
#header-top{
    height: 40px;
}

#header-bottom{
    height: 70px;
}

/*jumbotron*/
.jumbotron{
    height: 550px;
    background-color: #274748;
}

/*jumbo games*/
.section-jumbo-games .row div{
    height: 150px;
}

/*sezione ps5*/
.section-ps5 .row div{
    height: 150px;
}

.bcg_grey{
    background-color: rgba(128, 128, 128, 0.61);
}

/*jumbo 2*/
.jumbotron-2{
    height: 600px;
    background-color: #fdab42;
}

/*nuovi  giochi*/
.bcg_pink{
    height: 200px;
    background-color: #eaa0f0;
}

/*ps4*/
.bcg_green{
    background-color: #3cb12d;
    height: 150px;
}

/*ps plus*/
.bcg_yellow{
    height: 250px;
    background-color: rgb(221, 221, 23);
}

/*sconti*/
.bcg_red{
    height: 200px;
    background-color: rgb(214, 41, 28);
}

/*social*/
.bcg_brown{
    height: 100px;
    background-color: brown;
}

/*footer*/
.bcg_purple{
    height: 50px;
    background-color: purple;
}